@media only screen and (max-width: 600px) {
    #main-header {
        flex-direction: column;
    }
    .navi {
        flex-direction: column;
    }
    div>nav>button {
        width: 100%;
        padding-right: -20px;
    }
    .logo {
        margin-bottom: 15px;
    }
}

head {
    font-family: Arial, Helvetica, sans-serif;
}

.navi {
    display: flex;
}

nav>button {
    border: 1px solid;
    border-color: black;
    color: currentColor;
    text-decoration: none;
    padding: 5px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0px;
}

#main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo {
    height: 50px;
    width: 50px;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    background-image: url(../assets/logo.jpg);
    border: 1px solid;
}

body {
    font-family: Arial, Helvetica, sans-serif;    
}
header {
    padding-left: 20px;
}

article {
    padding-left: 20px;
}
.container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 5px;
}

form {
    display: flex;
    flex-direction: column;
    width: 45%;
    padding-left: 20px;
    border-radius: 8px;
}

input[type="text"], input[type="date"], textarea {
    margin-bottom: 15px;
    padding: 8px;
    width: 95%;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.the-gender {
    display: flex;
    align-items: center;
}

.output-box {
    width: 45%;
    padding-left: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

button {
    background-color: #ddd;
    cursor: pointer;
    border: 1px solid;
    border-color: black;
    padding: 5px;
}

button:hover {
    background-color: #bbb;
}

footer {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: x-small;
    padding: 10px;
}